.page {
    box-sizing: border-box;
    padding: 50px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FAF5F0;
}

.page::before {
    box-sizing: border-box;
}

.page::after {
    box-sizing: border-box;
}

@media (min-width: 426px) and (max-width: 767px) {
    .page {
        padding: 30px;
    }
}

@media (max-width: 425px) {
    .page {
        padding: 10px;
    }
}